body {
  font-family: "Verdana";
  font-size: 12px;
}

h1 {
  background-color: aquamarine;
  color: rgb(3, 27, 7);
}

h2 {
  background-color: mediumpurple;
}

h3 {
  background-color: bisque;
}

.betawi-soto {
  background-color: rgb(57, 57, 252);
}

.crazy-fried-rice {
  background-color: rgb(255, 96, 96);
}

.padang-satay {
  background-color: rgb(3, 165, 3);
}

.betawi-soto, .crazy-fried-rice, .padang-satay {
  width: 300px;
  height: auto;
}