* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  background-color: #F0F2DF;
}

h1 {
  color: rgb(3, 27, 7);
  padding: 20px;
  text-align: center;
  font-size: 42px;
}

h2 {
  background-color: mediumpurple;
}

h3 {
  background-color: bisque;
}

.main-img {
  width: 512px;
  height: 512px;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 30px;
}

ul {
  text-align: center;
}

li {
  display: inline-block;
}

li a {
  display: block;
}

.betawi-soto {
  background-color: rgb(57, 57, 252);
}

.crazy-fried-rice {
  background-color: rgb(255, 96, 96);
}

.padang-satay {
  background-color: rgb(3, 165, 3);
}

.betawi-soto, .crazy-fried-rice, .padang-satay {
  width: 300px;
  max-height: 300px;
}

.nasi-goreng-index, .padang-satay-index, .betawi-soto-index {
  width: 155px;
  height: 155px;
  border-radius: 20px;
}

li {
  margin-right: 15px;
}

li:last-child {
  margin-right: 0;
}